<?xml version="1.0"?>
<model>
    <name>Buoy_Akash</name>
    <version>0.1</version>
    <sdf>urdf/Buoy_Akash.urdf</sdf>
    <author>
        <name>Akash Kumar Singh</name>
        <email>ksakash@iitk.ac.in</email>
    </author>
    <description>
      A description of the model
    </description>
</model>
